.productHighlightWrapper--promotion {
  background-color: #f71963;
  font-size: 0.75rem;
  color: #fff;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}