.shelfTitle {
  color: #727273;
  font-size: 2.25rem; /* 36px */
  font-weight: 300;
  font-family: "San Francisco", -apple-system, "system-ui", "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

.shelfTitleContainer {
  margin-bottom: 1rem; /* 15px */
}

.recommendationShelfContainer.recommendationShelfContainer--recommendation-shelf-cross-sell-cart {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.recommendationShelfContainer {
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .shelfTitle {
    font-size: 1.5rem; /* 24px */
  }

  .shelfTitleContainer {
    margin-bottom: 0.75rem; /* 12px */
    padding-bottom: 1rem; /* 16px */
    padding-top: 1.5rem; /* 24px */
  }
}

@media (max-width: 480px) {
  .shelfTitle {
    font-size: 1.25rem; /* 20px */
  }
}
